@import '~@fluentui/react/dist/sass/References.scss';

.scrollContainer {
    //overflow: "scroll";
    //-ms-overflow-style: none;

   // &::-webkit-scrollbar {
       // display: none;
    //}
}
.ID{
    border:1px solid yellow;
}
.Title{
    border:1px solid rgb(0, 153, 255);
}
.BSADescription{
    border:1px solid green;
}
.singlechoice{
    border:1px solid #56acd1;
}
.multichoice{
    border:1px solid #ff00f7;
}
.BSAColor{
    border:1px solid rgb(121, 118, 118);
}
.BSAStart{
    border:1px solid #ff7300;
}
.BSAEnd{
    border:1px solid rgb(15, 15, 15);
}
.PersonField{
    border:1px solid rgb(93, 17, 17);
}
.Stack{
    border:1px solid rgb(0, 255, 64);
}
// .singlelinecss{
//     border:1px solid blue;
// }
.error input {
    &::placeholder {
        color: red !important;
    }
    &:-ms-input-placeholder {
        color: red !important;
    }
    &::-ms-input-placeholder {
        color: red !important;
    }
}
